.main {
  background-color: #101722;
}

.main-container {
  display: flex;
  padding: 50px 0;
  width: 100%;
}

.line-superior {
  border-top: 1px solid #293140;
  width: 20%;
  margin-bottom: 10px;
}

.title-category {
  color: #ffffff;
}

.movies {
  width: 100%;
}

.movies img {
  width: 164px;
  max-height: 240px;
  margin-left: 10px;
}

.arrow-btns {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #293140;
  padding: 20px 0 30px 0;
}

.arrow-circle {
  border: 2px solid #293140;
  border-radius: 50%;
  padding: 5px 12px;
  cursor: pointer;
  color: #293140;
  background-color: #101722;
  transition: color 0.2s, border 0.2s;
}

.arrow-circle:hover {
  color: #4a5365;
  border: 2px solid #4a5365;
}

.view-all {
  padding: 10px 0;
  color: #293140;
  cursor: pointer;
  transition: color 0.2s;
}

.view-all:hover {
  color: #4a5365;
}

.main-2 {
  background-color: #0e131d;
}
